<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicwebsite -->
      <package
            uri="http://www.example.org/basicwebsite"
            class="org.eclipse.sirius.sample.basicwebsite.BasicwebsitePackage"
            genModel="model/basicwebsite.genmodel"/>
   </extension>

</plugin>
